<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MLHBookStore</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="{{ url_for('static',filename='styles.3c058a9d1c19e4e19289.css') }}"></head>
<body>
  <k-root></k-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="{{ url_for('static',filename='runtime-es2015.528eac4c059023231e5e.js') }}" type="module"></script><script src="{{ url_for('static',filename='runtime-es5.528eac4c059023231e5e.js') }}" nomodule defer></script><script src="{{ url_for('static',filename='polyfills-es5.4f39b8044fe60aac5d2e.js') }}" nomodule defer></script><script src="{{ url_for('static',filename='polyfills-es2015.e04c183f50820e591f59.js') }}" type="module"></script><script src="{{ url_for('static',filename='main-es2015.2a272a0bee3fb1baab3f.js') }}" type="module"></script><script src="{{ url_for('static',filename='main-es5.2a272a0bee3fb1baab3f.js') }}" nomodule defer></script></body>
</html>
